In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import pandas as pd

# Load data
data = pd.read_csv('Salary_Data.csv')
data.dropna(inplace=True)
data = data[['Gender', 'Education Level', 'Job Title', 'Years of Experience','Salary','Age']]

# Pisahkan fitur dan target
X = data.drop('Salary', axis=1)
y = data['Salary']

# Tentukan kolom numerik dan kategorikal
categorical_features = ['Gender','Education Level','Job Title']
numeric_features = ['Years of Experience','Age']

# Preprocessor dengan handle_unknown
preprocessor = ColumnTransformer(transformers=[
    ('num', StandardScaler(), numeric_features),
    ('cat', OneHotEncoder(drop='first', handle_unknown='ignore'), categorical_features)
], remainder='passthrough')

# Split data dulu
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit transform hanya di train
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

# Model
mlr = LinearRegression()
mlr.fit(X_train, y_train)
y_pred = mlr.predict(X_test)

# Evaluasi
compare_mlr = pd.DataFrame({'True': y_test, 'Predict': y_pred})
compare_mlr['Residual'] = compare_mlr['True'] - compare_mlr['Predict']
print(compare_mlr)
print("R2 Score:", r2_score(y_test, y_pred))

          True        Predict      Residual
1883  150000.0  126451.716799  23548.283201
2630   75969.0   89002.381996 -13033.381996
498   100000.0  109815.380336  -9815.380336
5973   60000.0   61448.472964  -1448.472964
4108   80000.0   73578.832709   6421.167291
...        ...            ...           ...
2830   73218.0   83866.388879 -10648.388879
6154   65000.0   61448.472964   3551.527036
4940  105000.0  103051.125165   1948.874835
135    55000.0   56344.165881  -1344.165881
3688   60000.0   62229.225290  -2229.225290

[1340 rows x 3 columns]
R2 Score: 0.8764560633493949

C:\Users\User\anaconda3\envs\tf\Lib\site-packages\sklearn\preprocessing\_encoders.py:246: UserWarning: Found unknown categories in columns [2] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [10]:
data

,Gender,Education Level,Job Title,Years of Experience,Salary,Age
0,Male,Bachelor's,Software Engineer,5.0,90000.0,32.0
1,Female,Master's,Data Analyst,3.0,65000.0,28.0
2,Male,PhD,Senior Manager,15.0,150000.0,45.0
3,Female,Bachelor's,Sales Associate,7.0,60000.0,36.0
4,Male,Master's,Director,20.0,200000.0,52.0
...,...,...,...,...,...,...
6699,Female,PhD,Director of Marketing,20.0,200000.0,49.0
6700,Male,High School,Sales Associate,3.0,50000.0,32.0
6701,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,30.0
6702,Male,Master's Degree,Marketing Manager,14.0,140000.0,46.0
6703,Female,High School,Sales Executive,1.0,35000.0,26.0